Repository mentiumhq/memory-agent-j5i7ma, changes with the owners that .github/CODEOWNERS names for each.
All owners: @memory-agent/security-team, @memory-agent/core-team, @memory-agent/workflow-team, @memory-agent/ml-team, @memory-agent/devops-team, @memory-agent/db-team, @memory-agent/qa-team

Add public-samples/memory-agent-j5i7ma/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @memory-agent/devops-team

Add public-samples/memory-agent-j5i7ma/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @memory-agent/devops-team

Add public-samples/memory-agent-j5i7ma/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/__init__.py
  src/backend/src/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/main.py
  src/backend/src/main.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/__init__.py
  src/backend/src/activities/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/cache_activities.py
  src/backend/src/activities/cache_activities.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/document_activities.py
  src/backend/src/activities/document_activities.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/index_activities.py
  src/backend/src/activities/index_activities.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/llm_activities.py
  src/backend/src/activities/llm_activities.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/activities/storage_activities.py
  src/backend/src/activities/storage_activities.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/dependencies.py
  src/backend/src/api/dependencies.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/router.py
  src/backend/src/api/router.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/server.py
  src/backend/src/api/server.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/endpoints/__init__.py
  src/backend/src/api/endpoints/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/endpoints/documents.py
  src/backend/src/api/endpoints/documents.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/endpoints/health.py
  src/backend/src/api/endpoints/health.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/middleware/__init__.py
  src/backend/src/api/middleware/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/middleware/auth.py
  src/backend/src/api/middleware/auth.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/middleware/error_handler.py
  src/backend/src/api/middleware/error_handler.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/middleware/logging.py
  src/backend/src/api/middleware/logging.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/middleware/rate_limiter.py
  src/backend/src/api/middleware/rate_limiter.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/models/__init__.py
  src/backend/src/api/models/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/models/document.py
  src/backend/src/api/models/document.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/models/request.py
  src/backend/src/api/models/request.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/api/models/response.py
  src/backend/src/api/models/response.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/cli/__init__.py
  src/backend/src/cli/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/cli/main.py
  src/backend/src/cli/main.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/cli/commands/__init__.py
  src/backend/src/cli/commands/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/cli/commands/document.py
  src/backend/src/cli/commands/document.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/cli/commands/health.py
  src/backend/src/cli/commands/health.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/config/__init__.py
  src/backend/src/config/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/config/logging.py
  src/backend/src/config/logging.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/config/settings.py
  src/backend/src/config/settings.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/core/__init__.py
  src/backend/src/core/__init__.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/core/auth.py
  src/backend/src/core/auth.py
Owners: @memory-agent/security-team, @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/core/cache.py
  src/backend/src/core/cache.py
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/src/core/chunking.py
  src/backend/src/core/chunking.py
Owners: @memory-agent/core-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...

# Security-critical components requiring strict review (2 reviews required)
src/backend/src/core/security.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/encryption.py @memory-agent/security-team
src/backend/src/core/auth.py @memory-agent/security-team

# Workflow implementations and configurations
src/backend/src/workflows/* @memory-agent/workflow-team

# LLM and ML components
src/backend/src/services/llm.py @memory-agent/ml-team
src/backend/src/services/embedding.py @memory-agent/ml-team

# Infrastructure and deployment (2 reviews required)
infrastructure/** @memory-agent/devops-team @memory-agent/security-team
.github/workflows/* @memory-agent/devops-team

# Database components
src/backend/src/db/migrations/* @memory-agent/db-team

# Test implementations
src/backend/tests/** @memory-agent/qa-team

# Documentation
docs/* @memory-agent/core-team

# Default ownership - Core team owns any files not matched above
* @memory-agent/core-team

# Special review requirements for critical paths
# Security implementations require both security and core team review
src/backend/src/core/security.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/encryption.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/auth.py @memory-agent/security-team @memory-agent/core-team

# Infrastructure changes require both DevOps and security team review
infrastructure/** @memory-agent/devops-team @memory-agent/security-team
.github/workflows/** @memory-agent/devops-team @memory-agent/security-team

# API and service interfaces require core team review
src/backend/src/api/** @memory-agent/core-team
src/backend/src/services/** @memory-agent/core-team

# Configuration files require DevOps review
*.yaml @memory-agent/devops-team
*.yml @memory-agent/devops-team
Dockerfile* @memory-agent/devops-team
docker-compose* @memory-agent/devops-team

# Package dependencies require security review
requirements.txt @memory-agent/security-team
poetry.lock @memory-agent/security-team
pyproject.toml @memory-agent/security-team

# Root level configuration requires core team approval
/*.* @memory-agent/core-team
