Repository mentiumhq/memory-agent-j5i7ma, changes with the owners that .github/CODEOWNERS names for each.
All owners: @memory-agent/security-team, @memory-agent/core-team, @memory-agent/workflow-team, @memory-agent/ml-team, @memory-agent/devops-team, @memory-agent/db-team, @memory-agent/qa-team

Add public-samples/memory-agent-j5i7ma/.github/dependabot.yml
  .github/dependabot.yml
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/infrastructure/.gitignore
  infrastructure/.gitignore
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/README.md
  infrastructure/README.md
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/terraform.tfvars.example
  infrastructure/terraform.tfvars.example
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/backend.tf
  infrastructure/aws/backend.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/cloudwatch.tf
  infrastructure/aws/cloudwatch.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/data.tf
  infrastructure/aws/data.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/ecr.tf
  infrastructure/aws/ecr.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/ecs.tf
  infrastructure/aws/ecs.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/iam.tf
  infrastructure/aws/iam.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/kms.tf
  infrastructure/aws/kms.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/locals.tf
  infrastructure/aws/locals.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/outputs.tf
  infrastructure/aws/outputs.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/providers.tf
  infrastructure/aws/providers.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/route53.tf
  infrastructure/aws/route53.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/s3.tf
  infrastructure/aws/s3.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/variables.tf
  infrastructure/aws/variables.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/versions.tf
  infrastructure/aws/versions.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/aws/vpc.tf
  infrastructure/aws/vpc.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/backend.tf
  infrastructure/temporal/backend.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/data.tf
  infrastructure/temporal/data.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/locals.tf
  infrastructure/temporal/locals.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/namespace.tf
  infrastructure/temporal/namespace.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/outputs.tf
  infrastructure/temporal/outputs.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/providers.tf
  infrastructure/temporal/providers.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/search-index.tf
  infrastructure/temporal/search-index.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/variables.tf
  infrastructure/temporal/variables.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/infrastructure/temporal/versions.tf
  infrastructure/temporal/versions.tf
Owners: @memory-agent/devops-team, @memory-agent/security-team

Add public-samples/memory-agent-j5i7ma/src/backend/.env.example
  src/backend/.env.example
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/.gitignore
  src/backend/.gitignore
Owners: @memory-agent/core-team

Add public-samples/memory-agent-j5i7ma/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @memory-agent/devops-team

Add public-samples/memory-agent-j5i7ma/src/backend/Dockerfile.dev
  src/backend/Dockerfile.dev
Owners: @memory-agent/devops-team

Add public-samples/memory-agent-j5i7ma/src/backend/README.md
  src/backend/README.md
Owners: @memory-agent/core-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...

# Security-critical components requiring strict review (2 reviews required)
src/backend/src/core/security.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/encryption.py @memory-agent/security-team
src/backend/src/core/auth.py @memory-agent/security-team

# Workflow implementations and configurations
src/backend/src/workflows/* @memory-agent/workflow-team

# LLM and ML components
src/backend/src/services/llm.py @memory-agent/ml-team
src/backend/src/services/embedding.py @memory-agent/ml-team

# Infrastructure and deployment (2 reviews required)
infrastructure/** @memory-agent/devops-team @memory-agent/security-team
.github/workflows/* @memory-agent/devops-team

# Database components
src/backend/src/db/migrations/* @memory-agent/db-team

# Test implementations
src/backend/tests/** @memory-agent/qa-team

# Documentation
docs/* @memory-agent/core-team

# Default ownership - Core team owns any files not matched above
* @memory-agent/core-team

# Special review requirements for critical paths
# Security implementations require both security and core team review
src/backend/src/core/security.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/encryption.py @memory-agent/security-team @memory-agent/core-team
src/backend/src/core/auth.py @memory-agent/security-team @memory-agent/core-team

# Infrastructure changes require both DevOps and security team review
infrastructure/** @memory-agent/devops-team @memory-agent/security-team
.github/workflows/** @memory-agent/devops-team @memory-agent/security-team

# API and service interfaces require core team review
src/backend/src/api/** @memory-agent/core-team
src/backend/src/services/** @memory-agent/core-team

# Configuration files require DevOps review
*.yaml @memory-agent/devops-team
*.yml @memory-agent/devops-team
Dockerfile* @memory-agent/devops-team
docker-compose* @memory-agent/devops-team

# Package dependencies require security review
requirements.txt @memory-agent/security-team
poetry.lock @memory-agent/security-team
pyproject.toml @memory-agent/security-team

# Root level configuration requires core team approval
/*.* @memory-agent/core-team
